// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
	font-family: 'ProximaNova';
	src: font('ProximaNova-Bold.woff2') format('woff2'), font('ProximaNova-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
